@import "https://fonts.googleapis.com/css?family=Lato|Noto+Sans";
body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 10px;
  color: #222;
  font-weight: 300;
  min-width: 320px; }

address, p, dl {
  margin-bottom: 0; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

ul, ol {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }

.container {
  padding-left: 10px;
  padding-right: 10px; }
  .container .row {
    margin-left: -10px;
    margin-right: -10px; }
    .container .row .col-xs-1 {
      padding-left: 10px;
      padding-right: 10px; }
    .container .row .col-xs-2 {
      padding-left: 10px;
      padding-right: 10px; }
    .container .row .col-xs-3 {
      padding-left: 10px;
      padding-right: 10px; }
    .container .row .col-xs-4 {
      padding-left: 10px;
      padding-right: 10px; }
    .container .row .col-xs-5 {
      padding-left: 10px;
      padding-right: 10px; }
    .container .row .col-xs-6 {
      padding-left: 10px;
      padding-right: 10px; }
    .container .row .col-xs-7 {
      padding-left: 10px;
      padding-right: 10px; }
    .container .row .col-xs-8 {
      padding-left: 10px;
      padding-right: 10px; }
    .container .row .col-xs-9 {
      padding-left: 10px;
      padding-right: 10px; }
    .container .row .col-xs-10 {
      padding-left: 10px;
      padding-right: 10px; }
    .container .row .col-xs-11 {
      padding-left: 10px;
      padding-right: 10px; }
    .container .row .col-xs-12 {
      padding-left: 10px;
      padding-right: 10px; }

#topnav {
  height: 25px;
  background-color: #9f080d; }
  #topnav ul {
    overflow: hidden; }
    #topnav ul li {
      float: left;
      width: 33.33%;
      border-left: 1px solid #cf0c14;
      border-right: 1px solid #6f0406; }
      #topnav ul li a {
        display: block;
        width: 100%;
        color: #fff;
        font-size: 11px;
        line-height: 25px;
        font-weight: 300;
        text-align: center; }

#header {
  position: relative;
  height: 52px;
  border-bottom: 1px solid #9f080d; }
  #header h1 {
    margin: 0 auto;
    padding-top: 9px;
    width: 80px; }
    #header h1 img {
      width: 80px;
      display: block; }
  #header .btn {
    position: absolute;
    top: 18px;
    background-color: #fff;
    padding: 0; }
  #header .btn-menu {
    left: 11px; }
    #header .btn-menu .menu {
      display: block;
      width: 19px;
      height: 13px;
      background-image: url(/mobile/assets/images/main/menu_btn.png);
      background-repeat: no-repeat;
      background-size: 19px 13px; }
  #header .btn-search {
    right: 11px; }
    #header .btn-search .search {
      display: block;
      width: 16px;
      height: 16px;
      background-image: url(/mobile/assets/images/main/search_btn.png);
      background-repeat: no-repeat;
      background-size: 16px auto; }

#footer {
  background-color: #333;
  padding-bottom: 23.6px; }
  #footer .policy {
    height: 35px;
    background-color: #4f4f4f; }
    #footer .policy ul {
      overflow: hidden; }
      #footer .policy ul li {
        float: left;
        width: 25%;
        text-align: center; }
        #footer .policy ul li a {
          color: #fff;
          font-size: 11px;
          line-height: 35px; }
  #footer .company h2 {
    font-size: 12.6px;
    color: #fff;
    margin: 30px 0 11.3px; }
  #footer .company ul li {
    display: inline-block;
    line-height: 15px; }
    #footer .company ul li:after {
      content: "|";
      color: #fff;
      padding: 0 8.6px;
      opacity: .5; }
    #footer .company ul li:last-child:after {
      content: "";
      padding: 0; }
    #footer .company ul li dl {
      display: inline-block; }
      #footer .company ul li dl dt {
        display: inline-block;
        font-size: 11px;
        color: #fff;
        font-weight: 300;
        opacity: .5; }
        #footer .company ul li dl dt:after {
          content: ":"; }
      #footer .company ul li dl dd {
        display: inline-block;
        font-size: 11px;
        color: #fff;
        font-weight: 300;
        opacity: .5; }
        #footer .company ul li dl dd a {
          color: #fff; }

/*# sourceMappingURL=default.css.map */
