#content .visual {
  position: relative; }
  #content .visual li img {
    margin: 0 auto; }
  #content .visual .bx-wrapper .bx-controls {
    position: absolute;
    bottom: 10px;
    width: 100%;
    height: 12px; }
    #content .visual .bx-wrapper .bx-controls .bx-pager {
      text-align: center; }
      #content .visual .bx-wrapper .bx-controls .bx-pager .bx-pager-item {
        display: inline-block; }
        #content .visual .bx-wrapper .bx-controls .bx-pager .bx-pager-item .bx-pager-link {
          display: block;
          text-indent: -9999px;
          width: 12px;
          height: 12px;
          margin-right: 2px;
          margin-left: 2px;
          border: 1px solid #fff;
          border-radius: 50%; }
          #content .visual .bx-wrapper .bx-controls .bx-pager .bx-pager-item .bx-pager-link.active {
            background-color: #fff; }
#content .quick {
  height: 77px; }
  #content .quick ul {
    overflow: hidden; }
    #content .quick ul li a {
      float: left;
      width: 25%; }
      #content .quick ul li a figure img {
        display: block;
        margin: 0 auto; }
      #content .quick ul li a figure figcaption {
        font-size: 10px;
        font-family: 'georgia';
        font-style: italic;
        font-weight: bold;
        color: #333;
        text-align: center;
        margin-top: 8.3px; }
      #content .quick ul li a:nth-of-type(1) figure img {
        height: 28px;
        margin-top: 18.3px; }
      #content .quick ul li a:nth-of-type(2) figure img {
        height: 27.3px;
        margin-top: 19px; }
      #content .quick ul li a:nth-of-type(3) figure img {
        height: 27.3px;
        margin-top: 19px; }
      #content .quick ul li a:nth-of-type(4) figure img {
        height: 29px;
        margin-top: 18px; }
#content .party-menu {
  background-color: #f2f0e6; }
#content .single-menu {
  background-color: #fff; }
#content .homerice-menu {
  padding: 30px 0; }
  #content .homerice-menu .container h4 {
    font-size: 11px;
    text-align: center;
    font-family: 'georgia';
    font-weight: 500;
    font-style: italic;
    background-image: url(/mobile/assets/images/main/menu_bg.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 122.33px 8.33px; }
  #content .homerice-menu .container h3 {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin: 9px 0 15px; }
  #content .homerice-menu .container > p {
    font-size: 10px;
    color: #999;
    text-align: center;
    line-height: 12.6px; }
  #content .homerice-menu .container ul li {
    margin-top: 20px; }
    #content .homerice-menu .container ul li a {
      display: block;
      border: 1px solid #dadada; }
      #content .homerice-menu .container ul li a:hover, #content .homerice-menu .container ul li a:focus {
        text-decoration: none;
        border-color: #9f0a0e; }
      #content .homerice-menu .container ul li a .details {
        padding: 9px;
        background-color: #f9f9f9; }
        #content .homerice-menu .container ul li a .details h5 {
          font-size: 10px;
          color: #222;
          margin-bottom: 6px; }
        #content .homerice-menu .container ul li a .details .amunt {
          font-size: 13px;
          color: #9f0a0e;
          font-weight: bold; }
          #content .homerice-menu .container ul li a .details .amunt i {
            font-style: normal;
            color: #222;
            font-weight: 400; }
          #content .homerice-menu .container ul li a .details .amunt small {
            display: inline-block;
            font-size: 10px;
            margin-left: 5px;
            color: #666;
            opacity: .5px !important;
            font-weight: 300;
            text-decoration: line-through; }
  #content .homerice-menu .container .more {
    font-size: 11px;
    text-align: center;
    font-weight: 500;
    margin-top: 30px;
    color: #222; }
    #content .homerice-menu .container .more span {
      display: inline-block;
      width: 14px;
      height: 14px;
      font-size: 10px;
      line-height: 13px;
      vertical-align: middle;
      margin-left: 6.6px;
      margin-top: -2px;
      border: 1px solid #222;
      border-radius: 50%; }

/*# sourceMappingURL=main.css.map */
