/* member 공통 */
.member {
    h3 {
        font-size: 15px;
        text-align: center;
        color: #222;
        font-weight: bold;
        margin-bottom: 30px;
    }
    .step {
        text-align: center;
        .step-menu {
            display: inline-block;
            height: 33.33px;
            li {
                float: left;
                min-width: 100px;
                border-top: 1px solid #d4d4d4;
                border-left: 1px solid #d4d4d4;
                border-bottom: 1px solid #d4d4d4;
                &:last-child {
                    border-right: 1px solid #d4d4d4;
                }
                a {
                    display: block;
                    height: 33.33px;
                    font-size: 11px;
                    line-height: 31px;
                    color: #666;
                    text-align: center;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
            .active {
                position: relative;
                background-color: #9f080d;
                border-color: #9f080d;
                &:after {
                    position: absolute;
                    bottom: -1.6px;
                    left: 42.3px;
                    display: block;
                    width: 10.33px;
                    height: 5.3px;
                    content: "";
                    background-image: url(/mobile/assets/images/member/step_active.png);
                    background-repeat: no-repeat;
                    background-size: 10.3px 5.3px;
                }
                a {
                    color: #fff;
                }
            }
        }
    }
}
/* join-step01 */
.join-step01 {
    .section-content {
        h4 {
            font-size: 11px;
            font-weight: bold;
            margin: 15.3px 0 6px;
        }
        .terms {
            overflow-y: scroll;
            font-size: 10px;
            color: #666;
            line-height: 13px;
            min-width: 100%;
            height: 116.33px;
            padding: 11.3px 9.3px;
            border: 1px solid #ebebeb;
        }
        .check {
            font-size: 10px;
            color: #666;
            margin-top: 10px;
            &:nth-of-type(2) {
                margin-top: 6.6px;
            }
            input {
                margin-right: 6.6px;
                display: inline-block;
            }
        }
        .btn-area {
            text-align: center;
            margin-top: 26.6px;
            p {
                .btn-red {
                    margin-right: 7px;
                }
            }
        }
    }
}
/* join-step02 */
.join-step02 {
    .step {
        margin-bottom: 16.3px;
    }
    .section-content {
        .surely {
            font-size: 10px;
            color: #666;
            margin-bottom: 8.33px;
        }
        .table-wrap.join-form {
            margin-bottom: 26.66px;
            .table {
                tbody {
                    tr {
                        th {
                            font-size: 10px;
                            color: #666;
                            font-weight: bold;
                            vertical-align: middle;
                            padding-left: 9.33px;
                            border-color: #ebebeb;
                            background-color: #f9f9f9;
                        }
                        td {
                            padding: 10px;
                            text-align: left;
                            border-color: #ebebeb;
                        }
                        .user-id {
                            overflow: hidden;
                            .form-control {
                                float: left;
                                width: 57%;
                            }
                            .btn-area {
                                float: left;
                                margin-left: 10px;
                            }
                            .reference {
                                clear: both;
                                display: block;
                                text-align: left;
                                padding-top: 3px;
                            }
                        }
                        .addr {
                            overflow: hidden;
                            .form-control {
                                margin-top: 3.33px;
                                &:nth-of-type(1) {
                                    float: left;
                                    width: 57%;
                                    margin-top: 0;
                                    margin-bottom: 3.33px;
                                }
                            }
                            .btn-area {
                                float: left;
                                margin-left: 10px;
                            }
                        }
                        .call {
                            .form-control {
                                width: 29%;
                                display: inline-block;
                            }
                            .reference {
                                display: block;
                                margin-top: 6.66px;
                                .check {
                                    display: inline;
                                    vertical-align: middle;
                                    margin-top: -2px;
                                }
                            }
                        }
                        .email {
                            .form-control {
                                width: 45%;
                                display: inline-block;
                            }
                            .reference {
                                display: block;
                                margin-top: 6.66px;
                                .check {
                                    display: inline;
                                    vertical-align: middle;
                                    margin-top: -2px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .btn-area {
            text-align: center;
            p {
                .btn-red {
                    margin-right: 7px;
                }
            }
        }
    }
}
/* join-step03 */
.join-step03 {
    .step {
        margin-bottom: 16.3px;
    }
    .sucess {
        text-align: center;
        font-size: 15px;
        color: #222;
        font-weight: 500;
        letter-spacing: -1px;
        line-height: 17.6px;
        margin-bottom: 35px;
        background-image: url(/mobile/assets/images/member/sucess.png);
        background-repeat: no-repeat;
        background-size: 250px auto;
        background-position: 50% 4px;
        i {
            font-style: normal;
            color: #9f080d;
        }
    }
    .btn-area {
        text-align: center;
    }
}
/* login */
.login {
    .section-content {
        .login-form {
            padding: 30px 29px;
            border: 1px solid #d4d4d4;
            .form-control {
                margin-top: 6.66px;
                &:nth-of-type(1) {
                    margin-top: 0;
                }
            }
            .btn-area {
                margin-top: 10px;
                text-align: center;
                p {
                    .btn-lg {
                        margin: 0 auto;

                    }
                    .btn-gray {
                        margin-top: 10px;
                        margin-right: 7px;
                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }
}
/* nonmember */
.nonmember {
    .section-content {
        .login-form {
            margin-bottom: 16.66px;
            &:last-child {
                margin-bottom: 0;
            }
            h4 {
                font-size: 12px;
                color: #222;
                font-weight: bold;
                text-align: center;
                margin-bottom: 10px;
            }
            p {
                font-size: 10px;
                color: #666;
                line-height: 12.6px;
                text-align: center;
                margin-bottom: 10px;
            }
            .btn-area {
                p {
                    margin: 0;
                    .btn-lg.btn-gray {
                        margin: 0;
                        text-align: center;
                        display: inline-block;
                    }
                }
            }
        }
    }
}

/* non-login */
.non-login {
    .section-content {
        .login-form {
            margin-bottom: 16.66px;
            &:last-child {
                margin-bottom: 0;
            }
            h4 {
                font-size: 12px;
                color: #222;
                font-weight: bold;
                text-align: center;
                margin-bottom: 10px;
            }
            p {
                font-size: 10px;
                color: #9b0a0f;
                letter-spacing: -1px;
                text-align: center;
                margin-bottom: 10px;
            }
            .terms {
                overflow-y: scroll;
                font-size: 10px;
                color: #666;
                line-height: 13px;
                width: 100%;
                height: 140px;
                padding: 11.3px 9.3px;
                border: 1px solid #ebebeb;
            }
            .btn-area {
                p {
                    margin: 0;
                    .btn-lg.btn-gray {
                        margin: 0;
                        text-align: center;
                        display: inline-block;
                    }
                }
            }
        }
    }
}
/* id-confirm */
.id-confirm {
    .section-content {
        .login-form {
            p {
                font-size: 10px;
                color: #666;
                text-align: center;
                letter-spacing: -.5px;
                line-height: 14x;
                margin-bottom: 10px;
            }
            .btn-area {
                p {
                    margin: 0;
                    .btn-lg {
                        margin: 0;
                        display: inline-block;
                    }
                }
            }
        }
    }
}



























