@charset "UTF-8";
/* mypage 공통 */
.mypage h3 {
  font-size: 15px;
  text-align: center;
  color: #222;
  font-weight: bold;
  margin-bottom: 30px; }
.mypage .use {
  font-size: 12.6px;
  color: #222;
  font-weight: 500;
  text-align: center;
  margin-bottom: 16.66px; }
  .mypage .use i {
    font-style: normal;
    color: #9f0a0e; }

.total {
  display: block;
  width: 100%;
  font-size: 11px;
  color: #666;
  padding: 11px;
  border: 1px solid #ebebeb;
  background-color: #f9f9f9; }
  .total span {
    float: right;
    font-size: 15px;
    text-align: right; }
    .total span b {
      color: #9f0a0e; }

/* modify */
.modify .section-content .surely {
  font-size: 10px;
  color: #666;
  margin-bottom: 8.33px; }
.modify .section-content .table-wrap.join-form {
  margin-bottom: 26.66px; }
  .modify .section-content .table-wrap.join-form .table tbody tr th {
    font-size: 10px;
    color: #666;
    font-weight: bold;
    vertical-align: middle;
    padding-left: 9.33px;
    border-color: #ebebeb;
    background-color: #f9f9f9; }
  .modify .section-content .table-wrap.join-form .table tbody tr td {
    padding: 10px;
    text-align: left;
    border-color: #ebebeb; }
  .modify .section-content .table-wrap.join-form .table tbody tr .user-id {
    padding-top: 20px;
    padding-bottom: 20px; }
  .modify .section-content .table-wrap.join-form .table tbody tr .user-name {
    padding-top: 20px;
    padding-bottom: 20px; }
  .modify .section-content .table-wrap.join-form .table tbody tr .addr {
    overflow: hidden; }
    .modify .section-content .table-wrap.join-form .table tbody tr .addr .form-control {
      margin-top: 3.33px; }
      .modify .section-content .table-wrap.join-form .table tbody tr .addr .form-control:nth-of-type(1) {
        float: left;
        width: 57%;
        margin-top: 0;
        margin-bottom: 3.33px; }
    .modify .section-content .table-wrap.join-form .table tbody tr .addr .btn-area {
      float: left;
      margin-left: 10px; }
  .modify .section-content .table-wrap.join-form .table tbody tr .call .form-control {
    width: 30%;
    display: inline-block; }
  .modify .section-content .table-wrap.join-form .table tbody tr .call .reference {
    display: block;
    margin-top: 6.66px; }
    .modify .section-content .table-wrap.join-form .table tbody tr .call .reference .check {
      display: inline;
      vertical-align: middle;
      margin-top: -2px; }
  .modify .section-content .table-wrap.join-form .table tbody tr .email .form-control {
    width: 46%;
    display: inline-block; }
  .modify .section-content .table-wrap.join-form .table tbody tr .email .reference {
    display: block;
    margin-top: 6.66px; }
    .modify .section-content .table-wrap.join-form .table tbody tr .email .reference .check {
      display: inline;
      vertical-align: middle;
      margin-top: -2px; }
.modify .section-content .btn-area {
  text-align: center; }
  .modify .section-content .btn-area > p .btn-red {
    margin-right: 7px; }
  .modify .section-content .btn-area > p .btn-gray {
    margin-left: 7px; }

/* my-point */
.my-point .paging {
  margin-top: 26.33px; }

/* my-coupon */
.my-coupon .table-wrap .table tbody tr td:nth-of-type(1) {
  text-align: left !important;
  padding-left: 9px !important; }
.my-coupon .table-wrap .table tbody tr td h4 {
  font-size: 10px;
  font-weight: 300;
  color: #666;
  line-height: 15px; }
.my-coupon .table-wrap .table tbody tr td p {
  font-size: 10px;
  color: #666;
  line-height: 15px; }
.my-coupon .table-wrap .table tbody tr td dl dt {
  display: inline;
  font-size: 10px;
  color: #666;
  line-height: 15px;
  font-weight: 300; }
  .my-coupon .table-wrap .table tbody tr td dl dt:after {
    content: ":"; }
.my-coupon .table-wrap .table tbody tr td dl dd {
  display: inline;
  font-size: 10px;
  color: #666;
  line-height: 15px; }
.my-coupon .paging {
  margin-top: 26.33px; }

/* product */
.product .all-selected {
  display: block;
  width: 100%;
  font-size: 11px;
  color: #666;
  padding: 11px;
  border: 1px solid #ebebeb;
  background-color: #f9f9f9; }
  .product .all-selected .check {
    display: inline-block;
    margin-right: 6px; }
.product .product-list {
  margin-top: 10.66px; }
  .product .product-list li {
    width: 100%;
    padding: 11px;
    margin-bottom: 3.33px;
    border: 1px solid #ebebeb; }
    .product .product-list li:last-child {
      margin-bottom: 0; }
    .product .product-list li .check {
      display: inline-block;
      vertical-align: top;
      margin-right: 10.33px; }
    .product .product-list li p {
      display: inline-block;
      vertical-align: top;
      margin-right: 10px; }
      .product .product-list li p a img {
        width: 49.66px;
        height: 49.66px; }
    .product .product-list li .details {
      width: 68%;
      display: inline-block; }
      .product .product-list li .details h4 {
        font-size: 12px;
        color: #666;
        font-weight: bold; }
      .product .product-list li .details hr {
        display: block;
        margin: 8px 0 8.66px;
        border-top: 1px solid #ebebeb; }
      .product .product-list li .details dl {
        overflow: hidden; }
        .product .product-list li .details dl dt {
          float: left;
          clear: both;
          width: 37.33px;
          font-size: 10px;
          color: #666;
          font-weight: 300;
          line-height: 16.66px; }
        .product .product-list li .details dl dd {
          float: left;
          font-size: 10px;
          color: #666;
          font-weight: 300;
          line-height: 16.66px; }
.product .btn-area {
  text-align: center;
  margin-top: 26.66px; }
  .product .btn-area p .btn.btn-position {
    margin: 0 7px;
    letter-spacing: -.5px; }

/* order-view */
.order-view .order-info {
  padding: 13px 9.33px;
  margin-bottom: 16.66px;
  border: 1px solid #ebebeb; }
  .order-view .order-info .product-img {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px; }
    .order-view .order-info .product-img a img {
      width: 49.66px;
      height: 49.66px; }
  .order-view .order-info .details {
    display: inline-block;
    width: 77%; }
    .order-view .order-info .details h4 {
      font-size: 12px;
      color: #666;
      font-weight: bold;
      margin-bottom: 8px; }
    .order-view .order-info .details .menu-name {
      display: block;
      width: 100%;
      height: 17.3px;
      font-size: 10px;
      color: #666;
      padding-left: 10px;
      background-color: #f9f9f9;
      margin-bottom: 3.33px; }
    .order-view .order-info .details .count-dl {
      display: block;
      overflow: hidden;
      background-color: #f9f9f9; }
      .order-view .order-info .details .count-dl dt {
        float: left;
        clear: both;
        height: 17.3px;
        font-size: 10px;
        color: #666;
        font-weight: 300;
        padding-left: 10px; }
        .order-view .order-info .details .count-dl dt:after {
          content: ":";
          padding: 0 2px; }
      .order-view .order-info .details .count-dl dd {
        float: left;
        font-size: 10px;
        color: #666; }
    .order-view .order-info .details hr {
      display: block;
      width: 100%;
      border-top: 1px solid #ebebeb;
      margin: 10.3px 0 9.66px; }
    .order-view .order-info .details .inline-dl {
      overflow: hidden; }
      .order-view .order-info .details .inline-dl dt {
        float: left;
        clear: both;
        width: 37.33px;
        font-size: 10px;
        color: #666;
        font-weight: 300;
        line-height: 16.66px; }
      .order-view .order-info .details .inline-dl dd {
        float: left;
        font-size: 10px;
        color: #666;
        line-height: 16.66px; }
      .order-view .order-info .details .inline-dl .color-bold {
        color: #9f0a0e; }
.order-view .amount-info h5 {
  font-size: 13px;
  color: #222;
  font-weight: bold;
  margin: 28px 0 10px; }
.order-view .amount-info .table-wrap .table.table-bordered {
  border-color: #ebebeb; }
  .order-view .amount-info .table-wrap .table.table-bordered tbody tr th {
    font-size: 10px;
    color: #666;
    padding: 10.3px 0 10.3px 9px;
    border-color: #ebebeb;
    background-color: #f9f9f9; }
  .order-view .amount-info .table-wrap .table.table-bordered tbody tr td {
    font-size: 10px;
    color: #666;
    text-align: left;
    padding: 10.3px 0 10.3px 9px;
    border-color: #ebebeb; }
.order-view .btn-area {
  margin-top: 10px;
  overflow: hidden; }
  .order-view .btn-area p {
    float: right; }
    .order-view .btn-area p .btn.btn-default {
      letter-spacing: -1px;
      margin-right: 7px; }

/* order-list */
.order-list .table-wrap .table tbody tr td:nth-of-type(2) {
  text-align: left !important; }
  .order-list .table-wrap .table tbody tr td:nth-of-type(2) h4 {
    font-size: 11px;
    color: #666;
    font-weight: bold;
    margin-bottom: 10px; }
  .order-list .table-wrap .table tbody tr td:nth-of-type(2) dl {
    overflow: hidden; }
    .order-list .table-wrap .table tbody tr td:nth-of-type(2) dl dt {
      float: left;
      clear: both;
      font-weight: 300;
      line-height: 15px; }
      .order-list .table-wrap .table tbody tr td:nth-of-type(2) dl dt:after {
        content: ":";
        padding: 0 2px; }
    .order-list .table-wrap .table tbody tr td:nth-of-type(2) dl dd {
      float: left;
      line-height: 15px; }
.order-list .paging {
  margin-top: 26.66px; }

/* sucess */
.sucess p {
  font-size: 15px;
  color: #222;
  font-weight: 500;
  line-height: 17.66px;
  text-align: center;
  margin-bottom: 10px; }
.sucess dl {
  text-align: center;
  margin-bottom: 26.66px; }
  .sucess dl dt {
    display: inline;
    font-size: 12px;
    color: #222;
    font-weight: 300; }
    .sucess dl dt:afater {
      content: ":";
      padding: 0 2px; }
  .sucess dl dd {
    display: inline;
    font-size: 12px;
    color: #9f080d; }
.sucess .btn-area p .btn.btn-red {
  margin-left: 7px;
  letter-spacing: -1px; }

/* payment */
.payment .order-info .check {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px; }
.payment .order-info .details {
  width: 68%; }
.payment .total {
  margin-bottom: 10px; }
.payment .btn-area {
  margin: 0; }
  .payment .btn-area p .btn.btn-default {
    margin: 0; }
.payment .common-section h5 {
  font-size: 13px;
  font-weight: bold;
  margin: 12.3px 0 11px; }
.payment .common-section .table-wrap.join-form {
  margin-bottom: 26.66px; }
  .payment .common-section .table-wrap.join-form .table tbody tr th {
    font-size: 10px;
    color: #666;
    font-weight: bold;
    vertical-align: middle;
    padding-left: 9.33px;
    border-color: #ebebeb;
    background-color: #f9f9f9; }
  .payment .common-section .table-wrap.join-form .table tbody tr td {
    padding: 10px;
    text-align: left;
    border-color: #ebebeb; }
  .payment .common-section .table-wrap.join-form .table tbody tr .user-id {
    padding-top: 20px;
    padding-bottom: 20px; }
  .payment .common-section .table-wrap.join-form .table tbody tr .user-name {
    padding-top: 20px;
    padding-bottom: 20px; }
    .payment .common-section .table-wrap.join-form .table tbody tr .user-name .form-control {
      width: 57%; }
  .payment .common-section .table-wrap.join-form .table tbody tr .user-name.padding-width {
    padding-top: 10px;
    padding-bottom: 10px; }
  .payment .common-section .table-wrap.join-form .table tbody tr .addr {
    overflow: hidden; }
    .payment .common-section .table-wrap.join-form .table tbody tr .addr .form-control {
      margin-top: 3.33px; }
      .payment .common-section .table-wrap.join-form .table tbody tr .addr .form-control:nth-of-type(1) {
        float: left;
        width: 57%;
        margin-top: 0;
        margin-bottom: 3.33px; }
    .payment .common-section .table-wrap.join-form .table tbody tr .addr .btn-area {
      float: left;
      margin-left: 10px; }
  .payment .common-section .table-wrap.join-form .table tbody tr .call .form-control {
    width: 30%;
    display: inline-block; }
  .payment .common-section .table-wrap.join-form .table tbody tr .call .reference {
    display: block;
    margin-top: 6.66px; }
    .payment .common-section .table-wrap.join-form .table tbody tr .call .reference .check {
      display: inline;
      vertical-align: middle;
      margin-top: -2px; }
  .payment .common-section .table-wrap.join-form .table tbody tr .email .form-control {
    width: 46%;
    display: inline-block; }
  .payment .common-section .table-wrap.join-form .table tbody tr .email .reference {
    display: block;
    margin-top: 6.66px; }
    .payment .common-section .table-wrap.join-form .table tbody tr .email .reference .check {
      display: inline;
      vertical-align: middle;
      margin-top: -2px; }
  .payment .common-section .table-wrap.join-form .table tbody tr .hope-date .form-control {
    width: 43%;
    padding-right: 0;
    display: inline-block;
    margin-right: 5px; }
  .payment .common-section .table-wrap.join-form .table tbody tr .hope-date p {
    display: inline-block; }
  .payment .common-section .table-wrap.join-form .table tbody tr .branch input[type=radio] {
    display: inline-block;
    margin-right: 3px; }
  .payment .common-section .table-wrap.join-form .table tbody tr .branch label {
    display: inline-block;
    font-size: 11px;
    color: #666;
    font-weight: 300; }
    .payment .common-section .table-wrap.join-form .table tbody tr .branch label:nth-of-type(1) {
      margin-right: 22px; }
  .payment .common-section .table-wrap.join-form .table tbody tr .delivery input[type=radio] {
    display: inline-block;
    margin-right: 3px; }
  .payment .common-section .table-wrap.join-form .table tbody tr .delivery label {
    display: inline-block;
    font-size: 11px;
    color: #666;
    font-weight: 300; }
    .payment .common-section .table-wrap.join-form .table tbody tr .delivery label:nth-of-type(1) {
      margin-right: 13px; }
  .payment .common-section .table-wrap.join-form .table tbody tr .map-name {
    overflow: hidden; }
    .payment .common-section .table-wrap.join-form .table tbody tr .map-name .form-control {
      float: left;
      width: 44%;
      margin-right: 10px; }
    .payment .common-section .table-wrap.join-form .table tbody tr .map-name > p {
      float: left;
      letter-spacing: -.5px;
      margin-top: 7px; }
      .payment .common-section .table-wrap.join-form .table tbody tr .map-name > p .check {
        display: inline-block; }
  .payment .common-section .table-wrap.join-form .table tbody tr .order-content textarea {
    width: 100%;
    height: 83px;
    border: 1px solid #ebebeb;
    background-color: #fbfbfb;
    box-shadow: none; }
    .payment .common-section .table-wrap.join-form .table tbody tr .order-content textarea:focus {
      box-shadow: none;
      border-color: #9f0a0e; }
.payment .common-section .table.point-coupon {
  border-color: #ebebeb; }
  .payment .common-section .table.point-coupon tbody tr th {
    color: #666;
    vertical-align: middle;
    border-color: #ebebeb;
    background-color: #f9f9f9; }
  .payment .common-section .table.point-coupon tbody tr td {
    text-align: left !important;
    border-color: #ebebeb; }
    .payment .common-section .table.point-coupon tbody tr td .reference {
      display: block;
      font-size: 10px;
      color: #666;
      margin-bottom: 6.66px; }
      .payment .common-section .table.point-coupon tbody tr td .reference i {
        font-size: 10px;
        color: #9f0a0e;
        font-style: normal; }
    .payment .common-section .table.point-coupon tbody tr td .form-control {
      display: inline-block;
      vertical-align: middle;
      width: 27%; }
    .payment .common-section .table.point-coupon tbody tr td select {
      width: 121.3px;
      height: 29.6px;
      margin-left: 7.3px;
      border: 1px solid #ebebeb; }
    .payment .common-section .table.point-coupon tbody tr td .btn-area {
      display: inline-block;
      vertical-align: middle;
      margin-left: 7.3px; }
    .payment .common-section .table.point-coupon tbody tr td .delivery-charge {
      letter-spacing: -1px; }
    .payment .common-section .table.point-coupon tbody tr td .amount-select {
      display: inline-block;
      margin-right: 25.6px;
      line-height: 26px; }
      .payment .common-section .table.point-coupon tbody tr td .amount-select:last-child {
        margin-right: 0; }
    .payment .common-section .table.point-coupon tbody tr td input[type=radio] {
      display: inline-block; }
    .payment .common-section .table.point-coupon tbody tr td label {
      color: #666;
      font-size: 10px; }
    .payment .common-section .table.point-coupon tbody tr td hr {
      margin-top: 10px;
      margin-bottom: 10px; }
    .payment .common-section .table.point-coupon tbody tr td dl {
      overflow: hidden; }
      .payment .common-section .table.point-coupon tbody tr td dl dt {
        width: 50px;
        float: left;
        clear: both; }
      .payment .common-section .table.point-coupon tbody tr td dl .bank-name {
        margin-top: 7px; }
      .payment .common-section .table.point-coupon tbody tr td dl dd {
        float: left;
        width: 65%; }
        .payment .common-section .table.point-coupon tbody tr td dl dd .form-control {
          width: 70%;
          margin-bottom: 10px; }
  .payment .common-section .table.point-coupon tbody tr .total-amount {
    font-size: 15px;
    color: #222; }
    .payment .common-section .table.point-coupon tbody tr .total-amount b {
      color: #9f0a0e; }
.payment .btn-area.total-btn {
  text-align: center;
  margin-top: 26.6px; }
  .payment .btn-area.total-btn p {
    float: none; }
    .payment .btn-area.total-btn p .btn-red {
      margin-right: 7px; }

/* basket */
.basket .order-info {
  margin-bottom: 0; }
.basket .btn-option {
  width: 100%;
  display: block;
  margin-bottom: 26.6px; }
  .basket .btn-option p {
    float: none; }
    .basket .btn-option p .btn-lg {
      width: 100% !important; }
.basket .total-btn p .btn.btn-position {
  margin: 0 7px; }

/* modal */
.modal-dialog {
  margin-top: 108px; }
  .modal-dialog .modal-content {
    padding: 0 10px;
    border-radius: 0; }
    .modal-dialog .modal-content .modal-header {
      padding: 13.6px 0;
      border: 0; }
      .modal-dialog .modal-content .modal-header h4 {
        font-size: 12px;
        color: #222;
        font-weight: bold; }
      .modal-dialog .modal-content .modal-header p {
        font-size: 11px;
        color: #666; }
        .modal-dialog .modal-content .modal-header p select {
          margin-left: 40px;
          width: 68%;
          height: 23.3px;
          border: 1px solid #d8d8d8; }
    .modal-dialog .modal-content .modal-body {
      padding: 13.6px 0;
      border-top: 1px solid #d4d4d4;
      border-bottom: 1px solid #d4d4d4; }
      .modal-dialog .modal-content .modal-body dl {
        overflow: hidden; }
        .modal-dialog .modal-content .modal-body dl dt {
          float: left;
          clear: both;
          width: 155.6px;
          height: 23.3px;
          line-height: 23.3px;
          font-size: 11px;
          color: #666;
          font-weight: 300;
          letter-spacing: -1px; }
        .modal-dialog .modal-content .modal-body dl .addition {
          font-size: 11px;
          float: right;
          margin-bottom: 10px; }
          .modal-dialog .modal-content .modal-body dl .addition:last-child {
            margin-bottom: 0; }
          .modal-dialog .modal-content .modal-body dl .addition .btn-area {
            display: inline-block; }
            .modal-dialog .modal-content .modal-body dl .addition .btn-area p {
              overflow: hidden; }
              .modal-dialog .modal-content .modal-body dl .addition .btn-area p .btn {
                float: left;
                width: 24.3px;
                height: 23.3px;
                border: 1px solid #d8d8d8;
                border-radius: 0; }
              .modal-dialog .modal-content .modal-body dl .addition .btn-area p .btn-minus {
                background-image: url(/mobile/assets/images/mypage/btn-minus.png);
                background-repeat: no-repeat;
                background-size: 10px auto;
                background-position: 50% 50%; }
              .modal-dialog .modal-content .modal-body dl .addition .btn-area p .btn-plus {
                background-image: url(/mobile/assets/images/mypage/btn-plus.png);
                background-repeat: no-repeat;
                background-size: 10px auto;
                background-position: 50% 50%; }
              .modal-dialog .modal-content .modal-body dl .addition .btn-area p span {
                float: left;
                display: block;
                width: 32.6px;
                height: 23.3px;
                font-size: 11px;
                text-align: center;
                line-height: 22px;
                border-top: 1px solid #d8d8d8;
                border-bottom: 1px solid #d8d8d8; }
          .modal-dialog .modal-content .modal-body dl .addition .del {
            display: inline-block;
            margin-left: 10px;
            vertical-align: top; }
            .modal-dialog .modal-content .modal-body dl .addition .del p .btn-del {
              width: 24.3px;
              height: 23.3px;
              border-radius: 0;
              padding: 0;
              border: 1px solid #d8d8d8;
              background-image: url(/mobile/assets/images/mypage/del_btn.png);
              background-repeat: no-repeat;
              background-size: 9.3px auto;
              background-position: 50% 50%; }
    .modal-dialog .modal-content .modal-footer {
      border: 0;
      text-align: right;
      padding: 13.6px 0; }
      .modal-dialog .modal-content .modal-footer .amount {
        font-size: 12px;
        color: #666;
        margin-bottom: 13.6px; }
        .modal-dialog .modal-content .modal-footer .amount i {
          font-style: normal;
          color: #9f080d; }

/*# sourceMappingURL=mypage.css.map */
