/* 공통 */
.policy {
    h3 {
        font-size: 15px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 29.6px;
    }
    .section-content {
        font-size: 10px;
        color: #666;
        line-height: 15px;
        letter-spacing: -.5px;
    }
}
