input {
  margin: 0;
  box-shadow: none; }

input[type=checkbox],
input[type=radio] {
  vertical-align: middle;
  margin: 0;
  box-shadow: none;
  display: block; }

.form-control {
  border-radius: 0;
  height: 29.6px;
  width: 100%;
  font-size: 10px;
  color: #666;
  border: 1px solid #ebebeb;
  background-color: #fbfbfb;
  padding: 5px;
  box-shadow: none; }
  .form-control:focus {
    box-shadow: none;
    border-color: #9f080d; }

label {
  margin: 0;
  font-size: 10px;
  color: #666; }

.reference {
  font-size: 10px;
  color: #666;
  font-weight: bold; }

.surely:before {
  content: "*";
  font-size: 10px;
  color: #dd3d42;
  padding-right: 3px; }

.sub .container {
  padding-top: 29.6px;
  padding-bottom: 33px; }
  .sub .container .table-wrap .table.table-bordered {
    margin: 0;
    border-color: #ebebeb; }
    .sub .container .table-wrap .table.table-bordered thead th {
      font-size: 11px;
      color: #666;
      font-weight: bold;
      text-align: center;
      vertical-align: middle;
      padding: 12.6px 0;
      border-color: #ebebeb;
      border-bottom: 0;
      background-color: #f9f9f9; }
    .sub .container .table-wrap .table.table-bordered tbody td {
      font-size: 10px;
      color: #666;
      text-align: center;
      vertical-align: middle;
      padding: 10.3px;
      border-color: #ebebeb; }
  .sub .container .notice-list li {
    padding: 11.3px 7.3px;
    border-top: 2px solid #d4d4d4; }
    .sub .container .notice-list li a {
      display: inline-block;
      width: 64%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      color: #666; }
    .sub .container .notice-list li .user-info {
      float: right;
      display: inline-block; }
      .sub .container .notice-list li .user-info p {
        display: inline-block;
        font-size: 10px;
        color: #666; }
      .sub .container .notice-list li .user-info .user-name {
        width: 43px; }
  .sub .container .notice-list li:last-child {
    border-bottom: 2px solid #d4d4d4; }
  .sub .container .paging {
    text-align: center; }
    .sub .container .paging .pagination {
      margin: 0; }
      .sub .container .paging .pagination li a {
        width: 30px;
        height: 30px;
        font-size: 10px;
        color: #222;
        line-height: 28px;
        text-align: center;
        padding: 0;
        border-radius: 0;
        border-color: #ccc; }
      .sub .container .paging .pagination .active a {
        color: #fff;
        background-color: #9f080d;
        border-color: #9f080d; }
  .sub .container .btn-area p .btn {
    font-size: 11px;
    color: #fff;
    text-align: center;
    padding: 0;
    margin: 0;
    border-radius: 0; }
  .sub .container .btn-area p .btn-default {
    color: #666;
    background-color: #fff;
    border: 1px solid #d4d4d4; }
  .sub .container .btn-area p .btn-xs {
    width: 70px;
    height: 29.6px;
    line-height: 26.6px; }
  .sub .container .btn-area p .btn-sm {
    font-size: 12px;
    width: 115px;
    line-height: 29.33px; }
  .sub .container .btn-area p .btn-lg {
    display: block;
    font-size: 12px;
    width: 240px;
    line-height: 29.33px; }
  .sub .container .btn-area p .btn-red {
    border: 1px solid #9f080d;
    background-color: #9f080d; }
  .sub .container .btn-area p .btn-gray {
    border-color: #7b7b7b;
    background-color: #7b7b7b; }

/*# sourceMappingURL=sub.css.map */
