@charset "UTF-8";
/* 공통 */
.news-info {
  padding-bottom: 150px; }
  .news-info h3 {
    font-size: 30px;
    color: #222;
    font-weight: bold;
    text-align: center;
    margin: 79px 0 49px; }

/* review */
.review .table-wrap .table tbody tr td a {
  width: 740px;
  display: block;
  color: #666;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }
.review .table-wrap .btn-area {
  overflow: hidden;
  margin-top: 15px; }
  .review .table-wrap .btn-area p {
    float: right; }

/* view */
.write .table-wrap .table tbody tr th {
  font-size: 13px;
  color: #666;
  text-align: left;
  vertical-align: middle;
  padding-left: 25px;
  background-color: #f9f9f9; }
  .write .table-wrap .table tbody tr th label {
    font-size: 13px;
    color: #666;
    font-weight: 400;
    margin-bottom: 0; }
.write .table-wrap .table tbody tr td {
  padding: 10px;
  text-align: left; }
  .write .table-wrap .table tbody tr td input {
    padding: 5px;
    height: 28px;
    border: 1px solid #ebebeb; }
    .write .table-wrap .table tbody tr td input:focus {
      border-color: #9f080d; }
  .write .table-wrap .table tbody tr td .u-content {
    width: 1029px !important;
    height: 350px;
    padding: 5px;
    border: 1px solid #ebebeb; }
    .write .table-wrap .table tbody tr td .u-content:focus {
      border-color: #9f080d; }
  .write .table-wrap .table tbody tr td .form-control {
    width: 190px;
    box-shadow: none;
    border-radius: 0 !important;
    background-color: #fbfbfb; }
  .write .table-wrap .table tbody tr td .email {
    width: 310px; }
  .write .table-wrap .table tbody tr td .subject {
    width: 675px; }
  .write .table-wrap .table tbody tr td .file {
    width: 243px; }
.write .table-wrap .table tbody tr .captcha {
  overflow: hidden; }
  .write .table-wrap .table tbody tr .captcha div {
    float: left;
    display: inline-block;
    width: 192px;
    height: 62px;
    margin-bottom: 5px;
    border: 1px solid #e9e9e9; }
  .write .table-wrap .table tbody tr .captcha .form-control {
    float: left;
    width: 85px;
    height: 62px;
    margin-left: 5px;
    background-color: #fbfbfb; }
  .write .table-wrap .table tbody tr .captcha p {
    clear: both;
    font-size: 11px;
    color: #555;
    margin-top: 5px; }
.write .btn-area {
  text-align: center;
  margin-top: 50px; }
  .write .btn-area p .btn-default {
    margin-left: 5px; }

/* view */
.view .table-wrap .table thead tr th:first-child {
  text-align: left;
  padding-left: 26px; }
.view .table-wrap .table tbody tr td {
  padding: 0; }
  .view .table-wrap .table tbody tr td .concon {
    min-height: 400px;
    font-size: 13px;
    color: #666;
    text-align: left;
    line-height: 23px;
    padding: 38px 26px; }
.view .table-wrap .btn-area {
  overflow: hidden;
  margin-top: 15px; }
  .view .table-wrap .btn-area p {
    float: right; }

/* gallery */
.gallery .section-content > ul > li {
  margin-bottom: 30px; }
  .gallery .section-content > ul > li > a {
    display: inline-block;
    border: 1px solid #dcdcdc; }
    .gallery .section-content > ul > li > a:hover, .gallery .section-content > ul > li > a:focus {
      text-decoration: none;
      border-color: #9f080d; }
    .gallery .section-content > ul > li > a figure img {
      width: 268px;
      height: 263px; }
    .gallery .section-content > ul > li > a figure figcaption {
      font-size: 15px;
      color: #666666;
      text-align: left;
      padding: 17px 19px;
      width: 260px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }
.gallery .section-content .paging {
  margin-top: 20px; }

/*# sourceMappingURL=community.css.map */
