/* member 공통 */
.surely:before {
    content: "*";
    font-size: 13px;
    color: #dd3d42;
    padding-right: 3px;
}
.reference {
    height: 28px;
    font-size: 11px;
    line-height: 27px;
    color: #666;
}
.member-info {
    padding: 79px 0 150px;
    h2 {
        font-size: 30px;
        color: #222;
        text-align: center;
        font-weight: bold;
        margin-bottom: 50px;
    }
}
.member-info {
    .step-list {
        overflow: hidden;
        li {
            float: left;
            width: 390px;
            height: 45px;
            font-size: 15px;
            text-align: center;
            line-height: 42px;
            letter-spacing: -1px;
            border-top: 1px solid #d6d6d6;
            border-bottom: 1px solid #d6d6d6;
            border-left: 1px solid #d6d6d6;
            a {
                display: block;
                color: #666;
                height: 43px;
                text-decoration: none;
            }
        }
        li:last-child {
            border-right: 1px solid #d6d6d6;
        }
        .active {
            position: relative;
            background-color: #9f080d;
            a {
                color: #fff;
            }
        }
        .active:after {
            position: absolute;
            bottom: -17px;
            left: 50%;
            margin-left: -13px;
            content: url(/assets/images/member/step_active.png);
        }
    }
    .section-content {
        padding-top: 52px;
    }
}




/* login */
.login {
    .container {
        > div {
            display: block;
            width: 470px;
            text-align: center;
            padding: 50px 48px;
            border: 1px solid #d6d6d6;
            margin: 0 auto;
            .form-control {
                width: 372px;
                height: 46px;
                font-size: 13px;
                color: #666;
                margin-bottom: 10px;
                border-radius: 0;
                border: 1px solid #ececec;
                box-shadow: none;
                background-color: #fbfbfb;
                &:focus {
                    border-color: #9b0a0f;
                }
            }
            .btn-area {
                p {
                    .btn-red {
                        font-size: 16px;
                        width: 372px;
                        height: 50px;
                        letter-spacing: -1px;
                        line-height: 34px;
                        margin-bottom: 10px;
                    }
                    .btn-gray {
                        width: 180px;
                        height: 50px;
                        line-height: 34px;
                        letter-spacing: -1px;
                        margin-right: 7px;
                        border-color: #7b7b7b;
                        background-color: #7b7b7b;
                    }
                    .btn-gray:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
        .member-login {
            margin-bottom: 30px;
        }
        .nonmember-search {
            h3 {
                font-size: 26px;
                color: #222;
                margin-bottom: 20px;
            }
            p {
                font-size: 13px;
                color: #666;
                letter-spacing: -1.6px;
                margin-bottom: 15px;
            }
            .btn-area {
                p {
                    .btn-gray {
                        width: 372px;
                        letter-spacing: -1px;
                    }
                }
            }
        }
    }
}

/* step-1 */
.step-1 {
    .section-content {
        .terms {
            overflow: hidden;
            > div {
                float: left;
                width: 570px;
                margin-right: 30px;
                h3 {
                    font-size: 16px;
                    color: #222;
                    font-weight: bold;
                    letter-spacing: -1px;
                    margin-bottom: 10px;
                }
                div {
                    width: 570px;
                    height: 200px;
                    font-size: 13px;
                    color: #666;
                    line-height: 18px;
                    letter-spacing: -1px;
                    overflow-y: scroll;
                    padding: 13px 9px;
                    margin-bottom: 15px;
                    border: 1px solid #d7d7d7;
                }
                .check {
                    margin-top: -2px;
                    vertical-align: middle;
                }
                p {
                    display: inline;
                    font-size: 13px;
                    color: #666;
                    letter-spacing: -1px;
                }
            }
            .service-terms {

            }
            .privacy {
                margin: 0;
            }
        }
        .btn-area {
            text-align: center;
            margin-top: 45px;
            p {
                .btn {
                    font-size: 15px;
                    width: 115px;
                    height: 40px;
                    line-height: 28px;
                    margin-right: 10px;
                }
                .btn-default {
                    margin: 0;
                }
            }
        }
    }
}

/* step-2 */
.step-2 {
    .section-content {
        .surely {
            font-size: 13px;
            color: #666;
        }
        .table-wrap {
            margin-top: 10px;
            margin-bottom: 45px;
            .table {
                tbody {
                    tr {
                        th {
                            padding-top: 15px;
                            padding-left: 25px;
                            vertical-align: top;
                            text-align: left;
                            letter-spacing: -1px;
                            background-color: #f9f9f9;
                            label {
                                font-size: 13px;
                                color: #666;
                                font-weight: 400;
                                margin: 0;
                            }
                        }
                        td {
                            font-size: 11px;
                            color: #666;
                            text-align: left;
                            padding: 10px;
                            .form-control {
                                width: 140px;
                                height: 28px;
                                box-shadow: none;
                                border-radius: 0;
                                border: 1px solid #ebebeb;
                                background-color: #fbfbfb;
                                &:focus {
                                    border-color: #9f080d;
                                }
                            }
                            .btn-area {
                                float: left;
                                margin-right: 10px;
                                p {
                                    .btn-default {
                                        width: 71px;
                                        height: 28px;
                                        font-size: 13px;
                                        padding: 0;
                                        text-align: center;
                                        letter-spacing: -1px;
                                        line-height: 26px;

                                    }
                                }
                            }
                        }
                        .user-id {
                            overflow: hidden;
                            vertical-align: middle;
                            .form-control {
                                float: left;
                                margin-right: 10px;
                            }
                        }
                        .address {
                            overflow: hidden;
                            .form-control {
                                float: left;
                                width: 432px;
                                clear: both;
                                margin-bottom: 10px;
                            }
                            .form-control:first-child {
                                width: 140px;
                            }
                            .form-control:nth-of-type(3) {
                                margin-bottom: 0;
                            }
                            .btn-area {
                                float: left;
                                display: block;
                                margin-left: 10px;
                            }
                            label {
                                float: left;
                                height: 28px;
                                font-size: 11px;
                                line-height: 27px;
                                color: #666;
                                font-weight: 400;
                                margin-left: 10px;
                                margin-bottom: 0;
                            }
                        }
                        .call {
                            .form-control {
                                width: 81px;
                                display: inline-block;
                            }
                        }
                        .email {
                            .form-control {
                                width: 176px;
                                display: inline-block;
                            }
                            .reference {
                                display: inline-block;
                            }
                            .check {
                                margin: -2px 5px 0 10px;
                                vertical-align: middle;
                            }
                        }
                        .captcha {
                            overflow: hidden;
                            div {
                                float: left;
                                display: inline-block;
                                width: 192px;
                                height: 62px;
                                margin-bottom: 5px;
                                border: 1px solid #e9e9e9;
                            }
                            .form-control {
                                float: left;
                                width: 85px;
                                height: 62px;
                                margin-left: 5px;
                                background-color: #fbfbfb;
                            }
                            p {
                                clear: both;
                                font-size: 11px;
                                color: #555;
                                margin-top: 5px;
                            }
                        }
                    }
                }
            }
        }
        .btn-area {
            p {
                text-align: center;
                .btn-red {
                    margin-right: 7px;
                }
            }
        }
    }
}

/* step-3 */
.step-3 {
    padding-bottom: 600px;
    .section-content {
        text-align: center;
        > p {
            margin-top: 38px;
            font-size: 23px;
            height: 27px;
            line-height: 27px;
            font-weight: 300;
            letter-spacing: -1px;
            color: #222;

            background-image: url(/assets/images/member/step03_bg.png);
            background-repeat: no-repeat;;
            background-position: 50% 0;
            i {
                font-style: normal;
                color: #9f080d;
            }
        }
        .btn-area {
            margin-top: 52px;
            text-align: center;
            p {
                .btn-red {
                    font-size: 15px;
                    width: 115px;
                    height: 45px;
                    line-height: 30px;
                }
            }
        }
    }
}

/* login-find */
.login-find {
    .section-content {
        padding: 0;
        h3 {
            width: 380px;
            height: 50px;
            font-size: 22px;
            color: #fff;
            margin: 0 auto;
            font-weight: bold;
            line-height: 48px;
            padding-left: 30px;
            background-color: #4f4f4f;
        }
        .find {
            width: 380px;
            margin: 0 auto;
            border-bottom: 1px solid #d6d6d6;
            border-right: 1px solid #d6d6d6;
            border-left: 1px solid #d6d6d6;
            .find-txt {
                font-size: 13px;
                color: #666;
                line-height: 20px;
                padding: 30px 0 15px 30px;
            }
            .form-control {
                width: 320px;
                height: 46px;
                margin: 0 0 10px 30px;
                border: 1px solid #ececec;
                border-radius: 0;
                box-shadow: none;
                &:focus {
                    border-color: #9f080d;
                }
            }
            .captcha {
                overflow: hidden;
                padding-left: 30px;
                div {
                    float: left;
                    display: inline-block;
                    width: 192px;
                    height: 62px;
                    border: 1px solid #e9e9e9;
                }
                .form-control {
                    float: left;
                    width: 85px;
                    height: 62px;
                    margin-left: 5px;
                    background-color: #fbfbfb;
                }
                > p {
                    clear: both;
                    font-size: 11px;
                    color: #555;
                }
            }
            .btn-area {
                text-align: center;
                margin-top: 30px;
                margin-bottom: 30px;
                p {
                    .btn-red {
                        margin-right: 6px;
                    }
                }
            }
        }
    }
}
































