@charset "UTF-8";
/* member 공통 */
.member-info {
  padding: 79px 0 150px; }
  .member-info h2 {
    font-size: 30px;
    color: #222;
    text-align: center;
    font-weight: 500;
    margin-bottom: 50px; }

.member-info .step-list {
  overflow: hidden; }
  .member-info .step-list li {
    float: left;
    width: 390px;
    height: 45px;
    font-size: 15px;
    text-align: center;
    line-height: 42px;
    border-top: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
    border-left: 1px solid #d6d6d6; }
    .member-info .step-list li a {
      display: block;
      color: #666;
      font-weight: 400;
      height: 43px;
      text-decoration: none; }
  .member-info .step-list li:last-child {
    border-right: 1px solid #d6d6d6; }
  .member-info .step-list .active {
    position: relative;
    background-color: #9f080d; }
    .member-info .step-list .active a {
      color: #fff; }
  .member-info .step-list .active:after {
    position: absolute;
    bottom: -17px;
    left: 50%;
    margin-left: -13px;
    content: url(/assets/images/member/step_active.png); }
.member-info .section-content {
  padding-top: 52px; }

/* login */
.login .container > div {
  display: block;
  width: 470px;
  text-align: center;
  padding: 50px 48px;
  border: 1px solid #d6d6d6;
  margin: 0 auto; }
  .login .container > div .form-control {
    width: 372px;
    height: 46px;
    font-size: 13px;
    color: #666;
    margin-bottom: 10px;
    border-radius: 0;
    border: 1px solid #ececec;
    box-shadow: none;
    background-color: #fbfbfb; }
    .login .container > div .form-control:focus {
      border-color: #9b0a0f; }
  .login .container > div .btn-area p .btn-red {
    font-size: 16px;
    width: 372px;
    height: 50px;
    line-height: 34px;
    margin-bottom: 10px; }
  .login .container > div .btn-area p .btn-gray {
    width: 180px;
    height: 50px;
    line-height: 34px;
    margin-right: 7px;
    border-color: #7b7b7b;
    background-color: #7b7b7b; }
  .login .container > div .btn-area p .btn-gray:last-child {
    margin-right: 0; }
.login .container .member-login {
  margin-bottom: 30px; }
.login .container .nonmember-search h3 {
  font-size: 26px;
  color: #222;
  margin-bottom: 20px; }
.login .container .nonmember-search p {
  font-size: 13px;
  color: #666;
  letter-spacing: -1.6px;
  margin-bottom: 15px; }
.login .container .nonmember-search .btn-area p .btn-gray {
  width: 372px; }

/* step-1 */
.step-1 .section-content .terms {
  overflow: hidden; }
  .step-1 .section-content .terms > div {
    float: left;
    width: 570px;
    margin-right: 30px; }
    .step-1 .section-content .terms > div h3 {
      font-size: 16px;
      color: #222;
      font-weight: 400;
      margin-bottom: 10px; }
    .step-1 .section-content .terms > div div {
      width: 570px;
      height: 200px;
      font-size: 13px;
      color: #666;
      line-height: 18px;
      overflow-y: scroll;
      padding: 13px 9px;
      margin-bottom: 15px;
      border: 1px solid #d7d7d7; }
    .step-1 .section-content .terms > div .check {
      margin-top: -2px;
      vertical-align: middle; }
    .step-1 .section-content .terms > div p {
      display: inline;
      font-size: 13px;
      color: #666; }
  .step-1 .section-content .terms .privacy {
    margin: 0; }
.step-1 .section-content .btn-area {
  text-align: center;
  margin-top: 45px; }
  .step-1 .section-content .btn-area p .btn {
    font-size: 15px;
    width: 115px;
    height: 40px;
    line-height: 26px;
    margin-right: 10px; }
  .step-1 .section-content .btn-area p .btn-default {
    margin: 0; }

/* step-2 */
.step-2 .section-content .surely {
  font-size: 13px;
  color: #666; }
.step-2 .section-content .table-wrap {
  margin-top: 10px;
  margin-bottom: 45px; }
  .step-2 .section-content .table-wrap .table tbody tr th {
    padding-top: 15px;
    padding-left: 25px;
    vertical-align: top;
    text-align: left;
    font-weight: 400;
    background-color: #f9f9f9; }
    .step-2 .section-content .table-wrap .table tbody tr th label {
      font-size: 13px;
      color: #666;
      font-weight: 400;
      margin: 0; }
  .step-2 .section-content .table-wrap .table tbody tr td {
    font-size: 11px;
    color: #666;
    text-align: left;
    padding: 10px; }
    .step-2 .section-content .table-wrap .table tbody tr td .form-control {
      width: 140px;
      height: 28px;
      box-shadow: none;
      border-radius: 0;
      border: 1px solid #ebebeb;
      background-color: #fbfbfb; }
      .step-2 .section-content .table-wrap .table tbody tr td .form-control:focus {
        border-color: #9f080d; }
    .step-2 .section-content .table-wrap .table tbody tr td .btn-area {
      float: left;
      margin-right: 10px; }
      .step-2 .section-content .table-wrap .table tbody tr td .btn-area p .btn-default {
        width: 71px;
        height: 28px;
        font-size: 13px;
        padding: 0;
        text-align: center;
        line-height: 26px; }
  .step-2 .section-content .table-wrap .table tbody tr .user-id {
    overflow: hidden;
    vertical-align: middle; }
    .step-2 .section-content .table-wrap .table tbody tr .user-id .form-control {
      float: left;
      margin-right: 10px; }
  .step-2 .section-content .table-wrap .table tbody tr .address {
    overflow: hidden; }
    .step-2 .section-content .table-wrap .table tbody tr .address .form-control {
      float: left;
      width: 432px;
      clear: both;
      margin-bottom: 5px; }
    .step-2 .section-content .table-wrap .table tbody tr .address .form-control:first-child {
      width: 140px; }
    .step-2 .section-content .table-wrap .table tbody tr .address .form-control:nth-of-type(3) {
      margin-bottom: 0; }
    .step-2 .section-content .table-wrap .table tbody tr .address .btn-area {
      float: left;
      display: block;
      margin-left: 10px; }
    .step-2 .section-content .table-wrap .table tbody tr .address label {
      float: left;
      height: 28px;
      font-size: 11px;
      line-height: 27px;
      color: #666;
      font-weight: 300;
      margin-left: 10px;
      margin-bottom: 0; }
  .step-2 .section-content .table-wrap .table tbody tr .call .form-control {
    width: 81px;
    display: inline-block; }
  .step-2 .section-content .table-wrap .table tbody tr .call .reference {
    display: inline-block; }
  .step-2 .section-content .table-wrap .table tbody tr .call .check {
    margin: -2px 5px 0 10px;
    vertical-align: middle; }
  .step-2 .section-content .table-wrap .table tbody tr .email .form-control {
    width: 176px;
    display: inline-block; }
  .step-2 .section-content .table-wrap .table tbody tr .email .reference {
    display: inline-block; }
  .step-2 .section-content .table-wrap .table tbody tr .email .check {
    margin: -2px 5px 0 10px;
    vertical-align: middle; }
  .step-2 .section-content .table-wrap .table tbody tr .captcha {
    overflow: hidden; }
    .step-2 .section-content .table-wrap .table tbody tr .captcha div {
      float: left;
      display: inline-block;
      width: 192px;
      height: 62px;
      margin-bottom: 5px;
      border: 1px solid #e9e9e9; }
    .step-2 .section-content .table-wrap .table tbody tr .captcha .form-control {
      float: left;
      width: 85px;
      height: 62px;
      margin-left: 5px;
      background-color: #fbfbfb; }
    .step-2 .section-content .table-wrap .table tbody tr .captcha p {
      clear: both;
      font-size: 11px;
      color: #555;
      margin-top: 5px; }
.step-2 .section-content .btn-area p {
  text-align: center; }
  .step-2 .section-content .btn-area p .btn-red {
    margin-right: 7px; }

/* step-3 */
.step-3 {
  padding-bottom: 600px; }
  .step-3 .section-content {
    text-align: center; }
    .step-3 .section-content > p {
      margin-top: 38px;
      font-size: 23px;
      height: 27px;
      line-height: 27px;
      font-weight: 300;
      color: #222;
      background-image: url(/assets/images/member/step03_bg.png);
      background-repeat: no-repeat;
      background-position: 50% 0; }
      .step-3 .section-content > p i {
        font-style: normal;
        color: #9f080d; }
    .step-3 .section-content .btn-area {
      margin-top: 52px;
      text-align: center; }
      .step-3 .section-content .btn-area p .btn-red {
        font-size: 15px;
        width: 115px;
        height: 45px;
        line-height: 30px; }

/* login-find */
.login-find .section-content {
  padding: 0; }
  .login-find .section-content h3 {
    width: 380px;
    height: 50px;
    font-size: 22px;
    color: #fff;
    margin: 0 auto;
    font-weight: 400;
    line-height: 48px;
    padding-left: 30px;
    background-color: #4f4f4f; }
  .login-find .section-content .find {
    width: 380px;
    margin: 0 auto;
    border-bottom: 1px solid #d6d6d6;
    border-right: 1px solid #d6d6d6;
    border-left: 1px solid #d6d6d6; }
    .login-find .section-content .find .find-txt {
      font-size: 13px;
      color: #666;
      line-height: 20px;
      padding: 30px 0 15px 30px; }
    .login-find .section-content .find .form-control {
      width: 320px;
      height: 46px;
      margin: 0 0 10px 30px;
      border: 1px solid #ececec;
      border-radius: 0;
      box-shadow: none; }
      .login-find .section-content .find .form-control:focus {
        border-color: #9f080d; }
    .login-find .section-content .find .captcha {
      overflow: hidden;
      padding-left: 30px; }
      .login-find .section-content .find .captcha div {
        float: left;
        display: inline-block;
        width: 192px;
        height: 62px;
        border: 1px solid #e9e9e9; }
      .login-find .section-content .find .captcha .form-control {
        float: left;
        width: 85px;
        height: 62px;
        margin-left: 5px;
        background-color: #fbfbfb; }
      .login-find .section-content .find .captcha > p {
        clear: both;
        font-size: 11px;
        color: #555; }
    .login-find .section-content .find .btn-area {
      text-align: center;
      margin-top: 30px;
      margin-bottom: 30px; }
      .login-find .section-content .find .btn-area p .btn-red {
        margin-right: 6px; }

/*# sourceMappingURL=member.css.map */
