@charset "UTF-8";
@import "https://fonts.googleapis.com/css?family=Lato";
/* menu-list 공통 */
.menu .menu-info {
  padding: 57px 0 150px 0; }
  .menu .menu-info .section-header {
    position: relative; }
    .menu .menu-info .section-header h3 {
      font-size: 30px;
      color: #222; }
    .menu .menu-info .section-header hr {
      margin: 16px 0 40px;
      border-top: 1px solid #222; }
    .menu .menu-info .section-header .breadcrumb {
      position: absolute;
      bottom: 16px;
      right: 0; }
.menu .paging {
  margin-top: 20px; }

.party-menu .sub-visual {
  background-image: url(/assets/images/menu/party_visual_bg.jpg) !important; }

.single-menu .sub-visual {
  background-image: url(/assets/images/menu/single_visual_bg.jpg) !important; }

/* menu-detail */
.menu-detail .container {
  padding-top: 80px;
  padding-bottom: 150px; }
  .menu-detail .container .menu-view {
    position: relative;
    overflow: hidden;
    margin-bottom: 100px; }
    .menu-detail .container .menu-view .details-img {
      float: left;
      margin-right: 100px; }
      .menu-detail .container .menu-view .details-img img {
        max-width: 500px; }
    .menu-detail .container .menu-view .details {
      width: 570px;
      float: left; }
      .menu-detail .container .menu-view .details h3 {
        font-size: 30px;
        color: #222;
        font-weight: 400;
        display: inline-block; }
        .menu-detail .container .menu-view .details h3 > small {
          display: block;
          font-size: 16px;
          color: #999;
          font-weight: 300;
          vertical-align: top;
          margin-bottom: 10px; }
      .menu-detail .container .menu-view .details hr {
        width: 100%;
        border-top: 1px solid #222; }
      .menu-detail .container .menu-view .details .inline-dl {
        padding-bottom: 5px;
        border-bottom: 1px solid #d4d4d4; }
        .menu-detail .container .menu-view .details .inline-dl dt {
          width: 110px;
          font-size: 13px;
          color: #666;
          margin-bottom: 13px; }
        .menu-detail .container .menu-view .details .inline-dl dd {
          font-size: 13px;
          margin-bottom: 13px; }
        .menu-detail .container .menu-view .details .inline-dl .amount {
          color: #666;
          opacity: .5;
          text-decoration: line-through; }
        .menu-detail .container .menu-view .details .inline-dl .sum {
          color: #9f080d; }
      .menu-detail .container .menu-view .details .addition-option h4 {
        font-size: 15px;
        color: #222;
        font-weight: 400;
        margin: 15px 0; }
      .menu-detail .container .menu-view .details .addition-option .inline-dl {
        padding-bottom: 10px; }
        .menu-detail .container .menu-view .details .addition-option .inline-dl dt {
          margin: 0; }
        .menu-detail .container .menu-view .details .addition-option .inline-dl dd {
          margin: 0; }
          .menu-detail .container .menu-view .details .addition-option .inline-dl dd select {
            width: 152px;
            height: 24px;
            border: 1px solid #e4eaec; }
          .menu-detail .container .menu-view .details .addition-option .inline-dl dd .btn-area {
            position: absolute;
            top: 10px;
            left: 0;
            width: 124px;
            height: 36px;
            overflow: hidden; }
            .menu-detail .container .menu-view .details .addition-option .inline-dl dd .btn-area p .btn {
              display: block;
              width: 36px !important;
              height: 36px !important;
              border: 1px solid #d4d4d4; }
            .menu-detail .container .menu-view .details .addition-option .inline-dl dd .btn-area p .btn-minus {
              float: left;
              background-image: url(/assets/images/menu/minus_btn.png);
              background-repeat: no-repeat;
              background-position: 50% 50%; }
            .menu-detail .container .menu-view .details .addition-option .inline-dl dd .btn-area p .btn-plus {
              float: right;
              background-image: url(/assets/images/menu/plus_btn.png);
              background-repeat: no-repeat;
              background-position: 50% 50%; }
            .menu-detail .container .menu-view .details .addition-option .inline-dl dd .btn-area p > span {
              float: left;
              width: 52px;
              height: 36px;
              line-height: 36px;
              text-align: center;
              font-size: 13px;
              color: #666;
              border-top: 1px solid #d4d4d4;
              border-bottom: 1px solid #d4d4d4; }
        .menu-detail .container .menu-view .details .addition-option .inline-dl dt.addition {
          height: 56px;
          width: 140px;
          line-height: 54px; }
        .menu-detail .container .menu-view .details .addition-option .inline-dl dd.addition {
          width: 430px;
          position: relative; }
          .menu-detail .container .menu-view .details .addition-option .inline-dl dd.addition .del {
            position: absolute;
            top: 10px;
            right: 0; }
            .menu-detail .container .menu-view .details .addition-option .inline-dl dd.addition .del p .btn-del {
              display: inline-block;
              text-align: center;
              line-height: 36px;
              color: #ccc;
              width: 36px;
              height: 36px;
              border: 1px solid #d4d4d4; }
              .menu-detail .container .menu-view .details .addition-option .inline-dl dd.addition .del p .btn-del:hover, .menu-detail .container .menu-view .details .addition-option .inline-dl dd.addition .del p .btn-del:focus {
                text-decoration: none;
                opacity: .8; }
      .menu-detail .container .menu-view .details .addition-option .inline-dl.option {
        padding-bottom: 0; }
      .menu-detail .container .menu-view .details .addition-option .total {
        text-align: right;
        font-weight: bold;
        font-size: 15px;
        margin-top: 17px; }
        .menu-detail .container .menu-view .details .addition-option .total small {
          font-size: 15px;
          color: #222;
          font-weight: 400; }
        .menu-detail .container .menu-view .details .addition-option .total i {
          display: inline-block;
          font-style: normal;
          font-size: 22px;
          color: #9f0a0e;
          font-weight: 500;
          line-height: 26px;
          margin-left: 15px;
          vertical-align: bottom; }
        .menu-detail .container .menu-view .details .addition-option .total span {
          font-size: 21px;
          font-weight: 400;
          color: #333; }
  .menu-detail .container .total-btn {
    margin-top: 22px; }
.menu-detail .information-list {
  width: 100%;
  padding-bottom: 15px;
  border-bottom: 1px solid #d4d4d4; }
  .menu-detail .information-list li {
    display: inline-block;
    text-align: center; }
    .menu-detail .information-list li a {
      font-size: 14px;
      color: #666;
      margin: 0 25px; }
      .menu-detail .information-list li a:hover, .menu-detail .information-list li a:focus {
        color: #9f080d;
        text-decoration: none; }
  .menu-detail .information-list li:after {
    content: "|"; }
  .menu-detail .information-list li:last-child:after {
    content: ""; }
.menu-detail article h5 {
  font-size: 26px;
  color: #222;
  text-align: center;
  font-weight: 400;
  padding: 133px 0 28px;
  background-repeat: no-repeat;
  background-position: 50% 91px; }

#package h5 {
  margin-top: 170px;
  background-image: url(/assets/images/menu/info_bg01.png); }
#package > ul {
  padding: 43px 30px;
  border: 1px solid #d8d8d8; }
  #package > ul li {
    display: inline-block;
    margin-right: 15px; }
    #package > ul li figure figcaption {
      font-size: 14px;
      color: #666;
      margin-top: 15px; }
  #package > ul li:last-child {
    margin-right: 0; }
#package p {
  font-size: 14px;
  color: #666;
  margin-top: 15px; }
#package p:before {
  content: "+ "; }

#attention h5 {
  background-image: url(/assets/images/menu/info_bg02.png); }
#attention .default-list {
  padding: 43px 30px;
  border: 1px solid #d8d8d8; }

#review h5 {
  background-image: url(/assets/images/menu/info_bg03.png); }
#review .table-wrap {
  position: relative; }
  #review .table-wrap table {
    margin: 0; }
    #review .table-wrap table tbody td a {
      width: 740px;
      display: block;
      color: #666;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }
#review .btn-area {
  margin-top: 15px;
  overflow: hidden; }
  #review .btn-area p .btn-red {
    float: right; }
#review .paging {
  margin-top: 60px; }

#qna h5 {
  background-image: url(/assets/images/menu/info_bg04.png); }
#qna .table-wrap {
  position: relative; }
  #qna .table-wrap table {
    margin: 0; }
    #qna .table-wrap table tbody td a {
      width: 840px;
      display: inline-block;
      color: #666;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }
#qna .btn-area {
  margin-top: 15px;
  overflow: hidden; }
  #qna .btn-area p .btn-red {
    float: right; }

#delivery {
  overflow: hidden; }
  #delivery h5 {
    background-image: url(/assets/images/menu/info_bg05.png); }
  #delivery > div {
    float: left;
    width: 50%;
    height: 431px;
    border: 1px solid #d7d7d7; }
    #delivery > div h6 {
      font-size: 16px;
      color: #222;
      font-weight: 400;
      margin-bottom: 18px; }
    #delivery > div ol {
      padding-left: 41px; }
      #delivery > div ol > li {
        font-size: 14px;
        color: #666;
        line-height: 23px;
        list-style: decimal;
        list-style-position: inside; }
        #delivery > div ol > li ul {
          margin-bottom: 18px; }
      #delivery > div ol li:last-child ul {
        margin-bottom: 0; }
  #delivery .seoul h6 {
    padding: 41px 0 0 41px; }
  #delivery .seoul .significant {
    width: 100%;
    height: 124px;
    font-weight: 400;
    margin-top: 27px;
    padding: 40px 41px 0 41px;
    background-color: #f9f9f9; }
    #delivery .seoul .significant p {
      font-size: 14px;
      color: #222; }
    #delivery .seoul .significant dl {
      overflow: hidden;
      margin-top: 5px; }
      #delivery .seoul .significant dl dt {
        font-size: 14px;
        color: #222;
        float: left;
        margin-right: 5px;
        margin-top: 1px; }
      #delivery .seoul .significant dl dd {
        font-size: 17px;
        color: #222;
        float: left;
        font-family: 'Lato', sans-serif; }
      #delivery .seoul .significant dl dd:nth-of-type(1) {
        margin-right: 15px; }
  #delivery .gyeonggi {
    padding: 41px;
    border-left: 0; }

/*# sourceMappingURL=menu.css.map */
